@using Model.EF

<script>
    $(function () {
        $('table.display').DataTable({
            responsive: true,
            "bAutoWidth": false,
            "aLengthMenu": [[5, 10, 20, -1], [1, 5, 10, "All"]],
            "iDisplayLength": 5,
            "ordering": false
        });
    });
</script>

<table class="table table-bordered table-hover table-responsive display">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-sort-by-attributes"></span></th>
            <th>例文</th>
            <th>第課</th>
        </tr>
    </thead>
    <tbody>
        @foreach (例文_Table Item in Model)
        {

            <tr>

                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit", new { Id = Item.例文ID })">
                        <span class="glyphicon glyphicon-edit"></span> @Item.例文ID
                    </a>
                </td>
                <td>
                    @Html.Raw(Item.例文)
                    @Html.Raw(Item.例文Vietnamese)
                </td>
                <td>
                    @Item.第課_Table.第課Name
                    @Html.Raw(Item.第課_Table.第課Subject)
                </td>
            </tr>

        }
    </tbody>
</table>