@using Model.EF
@model 練習C
@{
    ViewBag.Title = "Index";
}

<br />
        <ul class="nav nav-tabs formatFont12px">
            <li class="active">
                <a href="#edit" data-toggle="tab">編集</a>
            </li>
            <li>
                <a href="#list" data-toggle="tab">リストを　見る</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in formatFont12px" id="edit">
                <br />
                @using (Html.BeginForm("Index", "練習C", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "error" })
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.練習CID, "　ID (Auto Increase)", new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.練習CID, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(model => model.練習CID, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.第課ID, "　第?課", new { @class = "control-label" })

                            @Html.DropDownListFor(model => model.第課ID, (SelectList)ViewBag.第課List, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.第課ID, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.練習Cの本, "　例", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.練習Cの本, new { @class = "form-control", id = "txt練習C例" })
                            @Html.ValidationMessageFor(model => model.練習Cの本, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.ベトナム語, "　例答え -VNI", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.ベトナム語, new { @class = "form-control", id = "txt練習C例VNI" })
                            @Html.ValidationMessageFor(model => model.ベトナム語, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.練習C1Ans, "　答え 1", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.練習C1Ans, new { @class = "form-control", id = "txt練習C1Ans" })
                            @Html.ValidationMessageFor(model => model.練習C1Ans, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.練習C1AnsVNI, "　答え 1 -VNI", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.練習C1AnsVNI, new { @class = "form-control", id = "txt練習C1AnsVNI" })
                            @Html.ValidationMessageFor(model => model.練習C1AnsVNI, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.練習C2Ans, "　答え 2", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.練習C2Ans, new { @class = "form-control", id = "txt練習C2Ans" })
                            @Html.ValidationMessageFor(model => model.練習C2Ans, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.練習C2AnsVNI, "　答え 2 -VNI", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.練習C2AnsVNI, new { @class = "form-control", id = "txt練習C2AnsVNI" })
                            @Html.ValidationMessageFor(model => model.練習C2AnsVNI, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.練習C3Ans, "　Answer 3", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.練習C3Ans, new { @class = "form-control", id = "txt練習C3Ans" })
                            @Html.ValidationMessageFor(model => model.練習C3Ans, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.練習C3AnsVNI, "　答え 3 -VNI", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.練習C3AnsVNI, new { @class = "form-control", id = "txt練習C3AnsVNI" })
                            @Html.ValidationMessageFor(model => model.練習C3AnsVNI, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.練習Cの写真, "　写真", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.練習Cの写真, new { @class = "form-control", @readonly = true })
                            <br />
                            <input type="file" name="Up練習CImg" />
                            @Html.HiddenFor(model => model.練習Cの写真)
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.練習CAudio, "　Audio", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.練習CAudio, new { @class = "form-control", @readonly = true })
                            <br />
                            <input type="file" name="Up練習CAudio" />
                            @Html.HiddenFor(model => model.練習CAudio)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("_ListButton")
                        </div>
                    </div>
                }
            </div>
            <div class="tab-pane fade formatFont12px" id="list">
                <div class="row">
                    <div class="col-md-3">
                        <br />
                        @Html.DropDownList("ddl第課List", (SelectList)ViewBag.第課List, "Select 第課(Daika): ", new { @class = "form-control" })
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div id="divPartialView" class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
@section scripts{
        <script>
            $(function () {
                var editor = CKEDITOR.replace('txt練習C例', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor1 = CKEDITOR.replace('txt練習C例VNI', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor2 = CKEDITOR.replace('txt練習C1Ans', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor3 = CKEDITOR.replace('txt練習C1AnsVNI', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor4 = CKEDITOR.replace('txt練習C2Ans', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor5 = CKEDITOR.replace('txt練習C2AnsVNI', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor6 = CKEDITOR.replace('txt練習C3Ans', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor7 = CKEDITOR.replace('txt練習C3AnsVNI', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });

                $("#ddl__List").change(function () {
                    var 第課ID = $(this).val();

                    $.ajax({
                        url: '/Admin/練習C/Get/',
                        type: "Get",
                        dataType: "html",
                        data: { 第課ID: 第課ID },
                        success: function (model) {
                            $("#divPartialView").html(model);
                        }
                    });

                });
            });
        </script>
    }