@using Model.EF

<table class="table table-bordered table-hover table-responsive display">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-sort-by-attributes"></span></th>
            <th>問題</th>
        </tr>
    </thead>
    <tbody>
        @foreach (問題_Table Item in ViewBag.問題)
        {

            <tr>
                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit", new { Id = Item.問題ID })">
                        <span class="glyphicon glyphicon-edit"></span> @Item.問題ID
                    </a>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-danger">Title: @Html.Raw(Item.第課_Table.第課Subject)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail img-responsive" src='/img/問題Img/@Item.問題Img' height="250" width="250" />
                        </div>
                        <div class="col-md-8">
                            @Html.Raw(Item.問題Text)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 bg-success">
                            @Html.Raw(Item.問題)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-7">
                            @Html.Raw(Item.問題Rei)
                        </div>
                        <div class="col-md-5 bg-success">
                            @Html.Raw(Item.問題VNIRei)
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-7">
                            @Html.Raw(Item.問題1)
                        </div>
                        <div class="col-md-5 bg-success">
                            @Html.Raw(Item.問題VNI1)
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-7">
                            @Html.Raw(Item.問題2)
                        </div>
                        <div class="col-md-5 bg-success">
                            @Html.Raw(Item.問題VNI2)
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-7">
                            @Html.Raw(Item.問題3)
                        </div>
                        <div class="col-md-5 bg-success">
                            @Html.Raw(Item.問題VNI3)
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-7">
                            @Html.Raw(Item.問題4)
                        </div>
                        <div class="col-md-5 bg-success">
                            @Html.Raw(Item.問題VNI4)
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-7">
                            @Html.Raw(Item.問題5)
                        </div>
                        <div class="col-md-5 bg-success">
                            @Html.Raw(Item.問題VNI5)
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $('table.display').DataTable({
            responsive: true,
            "bAutoWidth": false,
            'bProcessing': true,
            "aLengthMenu": [[1, 5, 10, -1], [1, 5, 10, "All"]],
            "iDisplayLength": 1,
            "ordering": false
        });
    });
</script>