@using Model.EF
@foreach (問題_Table Item in Model)
{
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <button class="btn btn-sm btn-primary" disabled id="btn12px">12px</button>
            <button class="btn btn-sm btn-primary" id="btn14px">14px</button>
            <button class="btn btn-sm btn-primary" id="btn16px">16px</button>
            <button class="btn btn-sm btn-primary" id="showHint">ベトナム語</button>
            <br />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-1 showHint text-danger formatFont12px">
            @Html.Raw(Item.問題Text)
        </div>
    </div><br />
    //rei
    <div class="row">
        <div class="col-md-6 changePx formatFont12px">
            @Html.Raw(Item.問題Rei)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-1 showHint text-danger formatFont12px">
            @Html.Raw(Item.問題VNIRei)
        </div>
    </div><br />
    //1
    <div class="row">
        <div class="col-md-6 changePx formatFont12px">
            @Html.Raw(Item.問題1)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-1 showHint text-danger formatFont12px">
            @Html.Raw(Item.問題VNI1)
        </div>
    </div><br />
    //2
    <div class="row">
        <div class="col-md-6 changePx formatFont12px">
            @Html.Raw(Item.問題2)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-1 showHint text-danger formatFont12px">
            @Html.Raw(Item.問題VNI2)
        </div>
    </div><br />
    //3
    <div class="row">
        <div class="col-md-6 changePx formatFont12px">
            @Html.Raw(Item.問題3)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-1 showHint text-danger formatFont12px">
            @Html.Raw(Item.問題VNI3)
        </div>
    </div><br />
    //4
    <div class="row">
        <div class="col-md-6 changePx formatFont12px">
            @Html.Raw(Item.問題4)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-1 showHint text-danger formatFont12px">
            @Html.Raw(Item.問題VNI4)
        </div>
    </div><br />
    //5
    <div class="row">
        <div class="col-md-6 changePx formatFont12px">
            @Html.Raw(Item.問題5)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-1 showHint text-danger formatFont12px">
            @Html.Raw(Item.問題VNI5)
        </div>
    </div><br />
}
<script src="~/Assets/Client/MinnanoNihongoPage/ChangePxTool.js"></script>