@using Model.EF
@model 漢字
@{
    ViewBag.Title = "Index";
}

<br />
        <ul class="nav nav-tabs formatFont12px">
            <li class="active">
                <a href="#edit" data-toggle="tab">編集</a>
            </li>
            <li>
                <a href="#list" data-toggle="tab">リストを　見る</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in formatFont12px" id="edit">
                <br />
                @using (Html.BeginForm("Index", "漢字", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "error" })

                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.ID, "　ID (Auto Increase)", new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.漢字の本, "　漢字の本", new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.漢字の本, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.漢字の本, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.音漢字, "　音漢字", new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.音漢字, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.音漢字, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.おんよみ, "　おんよみ", new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.おんよみ, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.おんよみ, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.くんよみ, "　くんよみ", new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.くんよみ, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.くんよみ, "", new { @class = "error" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.LineOfNumber, "　音漢字", new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.LineOfNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LineOfNumber, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.漢字の写真, "　写真", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.漢字の写真, new { @class = "form-control", @readonly = true })
                            <br />
                            <input type="file" name="Up漢字Image" />
                            @Html.HiddenFor(model => model.漢字の写真)
                        </div>

                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.第課ID, "　第?課", new { @class = "control-label" })

                            @Html.DropDownListFor(model => model.第課ID, (SelectList)ViewBag.第課List, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.第課ID, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.Description, "　Description", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "txtDescription" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.例1, "　例１", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.例1, new { @class = "form-control", id = "txt例1" })
                            @Html.ValidationMessageFor(model => model.例1)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.例2, "　例２", new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.例2, new { @class = "form-control", id = "txt例2" })
                            @Html.ValidationMessageFor(model => model.例2, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("_ListButton")
                        </div>
                    </div>
                }
            </div>
            <div class="tab-pane fade formatFont12px" id="list">
                <div class="row">
                    <div class="col-md-3">
                        <br />
                        @Html.DropDownList("ddl第課List", (SelectList)ViewBag.第課List, "Select 第課(Daika): ", new { @class = "form-control" })
                        <br />
                    </div>
                </div>
                <div class="row">

                    <div id="divPartialView" class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
@section scripts{
        <script>
            $(function () {
                var editor1 = CKEDITOR.replace('txt例1', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor2 = CKEDITOR.replace('txt例2', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });
                var editor3 = CKEDITOR.replace('txtDescription', {
                    customConfig: '/Assets/plug-in/ckeditor/config.js',
                    allowedContent: true
                });

                $("#ddl__List").change(function () {
                    var 第課ID = $(this).val();

                    $.ajax({
                        url: '/Admin/漢字/Get/',
                        type: "Get",
                        dataType: "html",
                        data: { 第課ID: 第課ID },
                        success: function (model) {
                            $("#divPartialView").html(model);
                        }
                    });

                });
            });
        </script>
    }