@using Model.EF


<table class="table table-hover table-bordered table-responsive display">
	<thead>
		<tr>
			<th><span class="glyphicon glyphicon-sort-by-attributes"></span></th>
			<th>練習Ａ</th>
			<th><span class="glyphicon glyphicon-list">　第？課</span></th>
		</tr>
	</thead>
	<tbody>
		@foreach (練習A Item in Model)
		{

			<tr>

				<td>
					<a class="btn btn-sm btn-success" href="@Url.Action("Edit", new { Id = Item.Id })">
						<span class="glyphicon glyphicon-edit"></span> @Item.Id
					</a>
				</td>
				<td>
					@Html.Raw(Item.練習Aの本)
				</td>
				<td>
					<span class="text-danger">@Html.Raw(Item.第課.第課Subject) / @Item.練習Aの名</span>
				</td>
			</tr>
			<tr>
				<td>
					<span>練習Aの本</span>
				</td>
				<td>
					@Html.Raw(Item.練習Aの答え)
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<span>ベトナム語</span>
				</td>
				<td>
					<div class="bg-success">@Html.Raw(Item.ベトナム語)</div>
				</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(function () {
		$('table.display').DataTable({
			responsive: true,
			"bAutoWidth": false,
			'bProcessing': true,
			"aLengthMenu": [[3, 6, 12, -1], [3, 6, 12, "All"]],
			"iDisplayLength": 3,
			"ordering": false
		});
	});
</script>