@using Model.EF


<table class="table table-hover table-bordered table-responsive display">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-sort-by-attributes"></span></th>
            <th>練習Ａ</th>
            <th><span class="glyphicon glyphicon-list"></span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (練習A Item in Model)
        {

            <tr>

                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit", new { Id = Item.Id })">
                        <span class="glyphicon glyphicon-edit"></span> @Item.Id
                    </a>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Raw(Item.練習Aの本)
                            <br />
                            @Html.Raw(Item.練習Aの答え)
                            <br />
                            <div class="bg-success">@Html.Raw(Item.ベトナム語)</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-danger">@Html.Raw(Item.第課.第課Subject) / @Item.練習Aの名</span>
                        </div>
                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $('table.display').DataTable({
            responsive: true,
            "bAutoWidth": false,
            'bProcessing': true,
            "aLengthMenu": [[1, 5, 10, -1], [1, 5, 10, "All"]],
            "iDisplayLength": 1,
            "ordering": false
        });
    });
</script>