@using Model.EF


<table class="table table-hover table-bordered table-responsive display">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-sort-by-attributes"></span></th>
            <th>練習Ａ</th></tr>
    </thead>
    <tbody>
        @foreach (練習A_Table Item in Model)
        {

            <tr>

                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit", new { Id = Item.練習AID })">
                        <span class="glyphicon glyphicon-edit"></span> @Item.練習AID
                    </a>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <span style="color:#ff0000;">Title: @Html.Raw(Item.第課_Table.第課Subject)</span>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Raw(Item.練習A)
                            <br />

                            @Html.Raw(Item.練習Answer1)
                            <br />
                            <div class="bg-success">@Html.Raw(Item.練習AVietnamese)</div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $('table.display').DataTable({
            responsive: true,
            "bAutoWidth": false,
            'bProcessing': true,
            "aLengthMenu": [[1, 5, 10, -1], [1, 5, 10, "All"]],
            "iDisplayLength": 1,
            "ordering": false
        });
    });
</script>