@using Model.EF

<table id="tblKanji" class="table table-bordered table-hover table-responsive display">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-sort-by-attributes"></span></th>
            <th>漢字</th>
            <th>写真</th>
            <th>おんよみ　－　くんよみ</th>
            <th>例１</th>
            <th>例２</th>
        </tr>
    </thead>
    <tbody>
        @{int a = 1;}
        @foreach (漢字___Table Item in Model)
        {

            <tr>
                <td class="text-center">@(a++)</td>
                <td>
                    <span style="font-size:40px;" class="img-thumbnail">@Item.漢字</span>
                    <br /><br />
                    <span style="color:#ff0000;">@Item.音漢字</span>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-thumbnail img-responsive" src="~/img/漢字/@Item.漢字Image" height="100" width="200" />
                            <br />
                            <br />
                            @Html.Raw(Item.Description)
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <span class="text-danger font-weight-bold">おんよみ:</span> @Item.おんよみ
                            <br />
                            <br />
                            <span class="text-danger font-weight-bold">くんよみ:</span> @Item.くんよみ
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(Item.例1)
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(Item.例2)
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $('table.display').DataTable({
            responsive: true,
            "bAutoWidth": false,
            //'bProcessing': true,
            "aLengthMenu": [[1, 4, 16, -1], [1, 4, 16, "All"]],
            "iDisplayLength": 4, "ordering": false
        });
    });
</script>